html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2B3A42;
  color: white;
  color: #d0dce1;
}

header, footer{
  background-color: #1e292f;
  color: #7493a4;
  color: #b1c5cd;
  color: #92aeb9;
}