body, #app, #wrapper {
  height: 100%;
  width: 100%;
}

#wrapper, #main{
  display: table;
}

#main{
  height: calc(100% - 110px);
}

footer, header {
  display: table-row;
  height:1px;
}

/* Basic Style*/
* { margin:0; padding:0;}
html, body { height: 100%; }